<footer class="font-rokkit flex items-center justify-center gap-3 p-6">
    <span class="inline-flex items-center">&copy; 2026</span>
    |
    <a variant="Link" asp-controller="Home" asp-action="Index">BBList</a>
    |
    <a variant="Link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>