<header>
    <nav class="flex justify-between p-6">
        <a asp-area="" asp-controller="Home" asp-action="Index">BBList</a>
        <div class="flex gap-6">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
		<partial name="_LoginPartial" />
    </nav>
</header>