@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-1 flex-col items-center justify-center">
    <div class="flex min-h-[300px] flex-col gap-3">
        <div class="">
            <h1 class="font-rokkit text-center text-4xl font-bold text-red-600">BBList</h1>
            <p>Plan and build your Blood Bowl roster with BBList!</p>
        </div>
        <div class="flex justify-center gap-6">
            <custom-anchor type="Destructive">Hello</custom-anchor>
        </div>
    </div>
</div>
