@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-1">
    <h1 class="font-rokkit text-4xl font-bold text-red-400 underline">BBList</h1>
    <p>Plan and build your Blood Bowl roster with BBList!</p>
</div>
